/taam.iml
/taam.ipr
/taam.iws
/.idea
.DS_Store

/bin
/config
/crash-reports
/dumps
/logs
/mods
/resourcepacks
/screenshots
/saves
/options.txt
/build
/asm
/usernamecache.json
/usercache.json

/.pmd
/.classpath
/.project
/.gradle
/.metadata
/.settings
/CameraStudio_log.*
#Nano backup file
/*.save
/*.launch

#Blender Backup Files
*.blend1