.DS_Store

/bin
/config
/crash-reports
/dumps
/logs
/mods
/resourcepacks
/screenshots
/saves
/options.txt
/build
/asm
/usernamecache.json

/.pmd
/.classpath
/.gradle
/.metadata
/.settings
/CameraStudio_log.txt.lck
/CameraStudio_log.txt
/CameraStudio_log.txt.1
