# Idea
/taam.iml
/taam.ipr
/taam.iws
/.idea

#Eclipse
/bin
/*.launch
/.classpath
/.metadata
/.pmd
/.project
/.settings

# Stuff
.DS_Store
/.gradle

# Runtime files
/asm
/build
/config
/crash-reports
/dumps
/logs
/mods
/resourcepacks
/saves
/screenshots
/options.txt
/servers.dat
/usercache.json
/usernamecache.json

# Other tools

#Nano backup file
/*.save

#Blender Backup Files
*.blend1

/CameraStudio_log.*