<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN"
    "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>
	<Appenders>
    	<Console name="Console" target="SYSTEM_OUT">
   			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    	</Console>
  	</Appenders>
  	<Loggers>
		<Root level="DEBUG">
 			<AppenderRef ref="Console"/>
 	  	</Root>
 	</Loggers> 
</log4j:configuration>